[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "vendor/cheat"]
	path = vendor/cheat
	url = git://github.com/defunkt/cheat.el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/defunkt/yasnippet.git
[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/ri"]
	path = vendor/ri
	url = git://github.com/technomancy/ri.el.git
[submodule "jcodetools"]
	path = jcodetools
	url = ssh://bartuer/Users/bartuer/etc/el/jcodetools
[submodule "vendor/uglifyjs"]
	path = vendor/uglifyjs
	url = git://github.com/mishoo/UglifyJS.git
